<!-- Popup Windows Templates -->

    <!-- Notification popup window -->
    <div class="modal fade" id="notification_popup">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="message">
                    </div>
                    <hr>
                    <button type="button" class="btn btn-primary button ok-button" data-dismiss="modal">OK</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Confirm popup window -->
    <div class="modal fade" id="confirm_popup">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="message"></div>
                    <hr>
                    <button type="button" class="btn btn-primary button ok-button" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-success button cancel-button" data-dismiss="modal">Cancel</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- Popup window with spinner -->
    <div class="modal fade" id="progress_popup">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="text-center">
                        <h4 class="message">Please, wait...</h4>
                        <hr>
                        <div class="loader"></div>
                        <hr>

                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Popup window with form -->
    <div class="modal fade" id="form_popup_window">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form_container">
                    </div>
                    <button type="button" class="btn btn-primary button submit_button" data-dismiss="modal">
                        Save
                    </button>
                    <button type="button" class="btn btn-success button cancel_button" data-dismiss="modal">
                        Cancel
                    </button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Form Template -->
    <div style="display: none">
        <div class="form_popup_window__form_template">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="alert alert-danger" style="display: none">
                        <ul></ul>
                    </div>
                </div>
                <div class="box-body">
                    <form class="popup_form"
                          action="#"
                          method="POST">
                        <!-- @csrf -->

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"
                                   name="name"
                                   class="form-control name"
                                   aria-describedby=""
                                   placeholder="Enter name"
                                   value="">
                        </div>

                        <div class="form-group">
                            <label for="title">Email</label>
                            <input type="text"
                                   name="email"
                                   class="form-control email"
                                   aria-describedby=""
                                   placeholder="Enter email"
                                   value="">
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

<!-- END:Popup Templates -->
